<h3><%= @game.title %></h3>

<dl class="dl-horizontal">
  <dt> DM: </dt> <dd> <%= @game.dungeon_master.username %> <br> </dd>
  <dt> Players: </dt> 
  <dd> 
    <%= @game.users.to_sentence %>
  <dd>
</dl>


<p><%= @game.description %></p>

<div>
  <%= simple_format @game.body %>
</div>

<%= link_to "Add Player", new_game_player_path(@game) %>