<%= form_for @character, :html => {:class => 'form-horizontal' } do |form| %>
  <% if @character.errors.present? %>
    <ul>
      <% @character.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  
  <fieldset>
    <div class="control-group">
      <%= form.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :name %>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="control-group">
      <%= form.label :level, :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :level %>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="control-group">
      <%= form.label :hit_die, :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :hit_die %>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="control-group">
      <%= form.label :strength, :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :strength %>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="control-group">
      <%= form.label :dexterity, :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :dexterity %>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="control-group">
      <%= form.label :constitution, :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :constitution %>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="control-group">
      <%= form.label :intelligence, :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :intelligence %>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="control-group">
      <%= form.label :wisdom, :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :wisdom %>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="control-group">
      <%= form.label :charisma, :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :charisma %>
      </div>
    </div>
  </fieldset>
  
  <%= form.select :base_atk_prog, 'Base Attack Bonus' => Character::BASE_ATK %>
  <%= form.select :fort_save_prog, 'Fortitude Save' => Character::FORT_SAVE %>
  <%= form.select :reflex_save_prog, 'Reflex Save' => Character::REFLEX_SAVE %>
  <%= form.select :will_save_prog, 'Will Save' => Character::WILL_SAVE %>
  
  <fieldset class="form-actions">
    <%= form.submit "Create", :class => 'btn btn-primary' %>
  </fieldset>
<% end %>