<!DOCTYPE html>
<html>
<head>
  <title>DndClient</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="flash">
    <% if alert.present? %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <% if notice.present? %>
      <p class="alert"><%= notice %></p>
    <% end %>
  </div>
  
  <div class="container" id="main-content">
    <div id="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="/">DnD Client</a>
          <ul class="nav">
            <% if logged_in? %>
              <li><%= link_to "Sign Out", logout_path %></li>
              <li><%= link_to "Create Character", new_character_path %></li>
              <li><%= link_to "Create Game", new_game_path %>
              
            <% else %>
              <li><%= link_to "Sign In", login_path %></li>
              <li><%= link_to 'Create Account', new_user_path %></li>
            <% end %>
              <li><%= link_to 'Games Index', games_path %></li>
              <li><%= link_to 'Character Index', characters_path %></li>
              <li><%= link_to 'Profile', user_path(current_user) %>
          </ul>
        </div>
      </div>
    </div>

<%= yield %>

</body>
</html>
